@model PostViewModel

<div class="col-md-6 border-start border-end">
    <form asp-action="Index" asp-controller="Home" method="post">
        <div class="tweet-box">
            <textarea asp-for="NewPost.Content" class="form-control" placeholder="What's going on" rows="3"></textarea>
            <button type="submit" class="btn btn-primary mt-2">Twixle</button>
        </div>
    </form>
    @foreach (PostResponseDto item in @Model.Posts)
    {
        <div class="tweet-box">
            <strong>@item.UserName</strong>
            <p>@item.Content</p>
            <p>@item.CreatedDate</p>
        </div>
    }

</div>